.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#nav_heading {
  padding-left: 55px;
  width: 180px;
  font-size: 70px;
  font-family: cursive;
  color: #726c6c;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


#nav_head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100px;
  margin: 0;
  opacity: 1;
  line-height: 50px;
}

nav {
  
}

nav ul{
  height: 50px;
  padding-top: 20px;
  margin-right: 30px;
 
}


.navLinks {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 20px;
}

.navLinks:hover {
  color: red;
}

#myVideo {
  z-index:-1;
}

#app_head {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#app_body {
  position: relative;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  background-color:  #f6f6f6 ;
}



#commitmentToSafety {
  background-color: #2980B9;
  height: 180vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;

}

h3 {
  color: #726c6c;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  margin-bottom: 100px;
}

.safety_div {
  overflow: hidden;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

  
}

.safety_pic_divs {
  overflow: hidden;
}

.content_divs {
  overflow: hidden;
}

.left_content_headings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.left_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  max-width: 700px;
  height: 200px;
  position: relative;
  left: 30px;
  color: #726c6c;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

.right_content_headings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto;
  font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.right_content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  max-width: 700px;
  height: 200px;
  color: #726c6c;
  margin: 0 auto;
  font-family: "Source Sans Pro","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.safety_imgs {
  width: 95%;
  height: 90%;  
  border-radius: 25px;

}



#emissionTarget {
  position: relative;
  background-color: antiquewhite;
  border: sienna;
  height: 100vh;
}



#fleet {
  background-color: pink;
  height: 100vh;
}



#app_foot {
  width: 100%;
  height: 225px;
  background-color: black;
  text-decoration-color: #ddd;
}










@media screen and (max-width: 1000px) {
  .App, header, footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    display: grid;
    grid-template-columns: 1fr;
  
  }
   
  #nav_heading {
    padding-left: 22px;
    width: 110px;
    font-size: 43px;
    font-family: cursive;
    color: #726c6c;
  }

  #myVideo {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%; 
    left: 50%;
    transform: translate(-50% , -50%);
  }

  .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  } */

  svg:hover, svg:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 420px;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



  .dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    
  }
  .line {
    fill: none;
    stroke: #726c6c;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    size: 5px;
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  svg {
    position: relative;
    padding-top: 25px;
    left: 100px;
  }

}




@media screen and (max-height: 1000px) {
  .App, header, footer {
    width: 100%; /* The width is 100%, when the viewport is 1000px or smaller */
    display: grid;
    grid-template-columns: 1fr;
  
  }

  #heading {
   
  }

  #myVideo {
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%; 
    left: 50%;
    transform: translate(-50% , -50%);
  }

  nav ul{
    height: 50px;
    padding-top: 20px;
    margin-right: 0px;
   
  }

  .navLinks {
    padding: 0px;
  }

 


}

