.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .App, header, footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    display: grid;
    grid-template-columns: 1fr;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#head {
  width:100%;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #0005;
  line-height: 50px;
  
}

nav ul{
  height: 50px;
  float: right;
  margin-right: 30px;
}


.navLinks {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
  padding: 15px;
  text-decoration: none;
  color: #fff;
}

.navLinks:hover {
  background-color:#088;
}